* { margin: 0; padding: 0; box-sizing: border-box; }
body { font: 13px Helvetica, Arial; }
form { background: #000; padding: 3px; position: fixed; bottom: 0;width:350px;}
form input { border: 0; padding: 10px; width: 90%; margin-right: .5%; }
form button { width: 10%; background: rgb(130, 224, 255); border: none; padding: 10px;}
#messages { list-style-type: none; margin: 0; margin-bottom:100px;padding: 0; }
#messages li { padding: 5px 10px; }
#messages li:nth-child(odd) { background: #eee; }
#p  {width:40px; height:40px;border-radius:100%;background-color: rgba(255, 0, 0, 1); position: absolute; visibility: hidden; z-index: 999;}

.flex{
    display:flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}    
.chat{
    background-color: lightgray;
    border-style: solid;
    border-width: 2px;
    border-color: black;
    width:350px;
    height:900px;
}
.pdf{
    background-color: rosybrown;
    min-width: 50%;   
}
.adminmsg{
    color:red;
}
.qmsg{
    color:rgb(0, 145, 0);
}
.srvmsg{
    color:blue;
}
.tools{
    background-color: gray;
    visibility: hidden;
}